body {
	background: black;
	font-family: American Typewriter, serif;
}
* {
	min-height: 10px;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 60px;
	height: 60px;
}
.postcard-header h1 {
	width: 100px;
	margin: 0px;
	padding-top: 5px;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0;
}
.body-left,
.body-right {
	padding: 10px;
}
input {
	border: none;
	border-bottom: 1px grey solid;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: cadetblue;
	padding: 5px 10px;
}
